body {
    background-color: #0c0c0c;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-bottom: env(safe-area-inset-bottom);
}

header {
    background-color: #ccff00;
    padding: 20px 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

.logo {
    color: #000;
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 0 10px;
}

.nav-btn {
    background: #000;
    color: #fff;
    padding: 14px 0; /* زيادة الارتفاع لسهولة اللمس */
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
    text-align: center;
    border: 1px solid transparent;
}

.nav-btn.active {
    background: #333;
    border: 1px solid #ccff00;
}

main {
    padding: 10px;
}

.card {
    background: #1a1a1a;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    border-right: 6px solid #ccff00;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

h3 {
    font-size: 19px;
    margin-top: 0;
    color: #ccff00;
    line-height: 1.4;
}

p {
    font-size: 15px;
    color: #ccc;
    line-height: 1.6;
}

.btn {
    display: block;
    background: #ccff00;
    color: #000;
    text-align: center;
    padding: 15px; /* زيادة حجم زرار الخبر */
    border-radius: 10px;
    text-decoration: none;
    font-weight: 800;
    margin-top: 20px;
    font-size: 17px;
    transition: transform 0.1s;
}

.btn:active {
    transform: scale(0.98); /* تأثير بسيط عند الضغط */
}

footer {
    text-align: center;
    font-size: 13px;
    color: #555;
    padding: 20px 0;
}
