body {
    background-color: #0b0b0b;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #ccff00; /* أصفر فسفوري */
    color: #000;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #ccff00;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.card h3 { color: #ccff00; }

.card a {
    color: #00ffcc;
    text-decoration: none;
}
