body {
    background-color: #0f0f0f;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 20px;
}

header {
    background: #ccff00;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.logo { color: #000; font-size: 28px; font-weight: bold; }

nav { display: flex; gap: 10px; margin-top: 15px; }

.nav-btn {
    flex: 1;
    background: #000;
    color: #ccff00;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px; /* زراير كبيرة */
}

.section-title { padding: 15px; color: #ccff00; border-bottom: 1px solid #333; }

.match-card {
    background: #1a1a1a;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
    transition: 0.3s;
}

.match-card:active { background: #333; }

.team { font-size: 18px; font-weight: bold; width: 35%; text-align: center; }

.score {
    background: #ccff00;
    color: #000;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.details { display: none; } /* سيظهر عند الضغط */
